In [1]:
import pandas

In [2]:
data = list(range(10))

In [4]:
dat = pandas.DataFrame(data)
dat

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [6]:
dat[0].quantile(0.5)

4.5